.navLinks{
    font-size: 18px;
    font-weight: 300;
    color: white ;
    font-family: sf ui display;
}
.boxShadow{
    box-shadow: 0px 0px 10.7px #7700ff;
    background: #7700ff;
}
.heroSectionBg{
    background-image: url("../../../public/HeroSection/herobg.jpg") cover center center/center;
    /* background: #ac2929; */
}
.radialShadow::after {
    content: "";
    position: absolute;
    bottom: -175px;
    left: -150px;
    width:300px;
    height: 350px;
    background: radial-gradient(circle, #7D40FF, transparent 70%);
    box-shadow: 0px 0px 100.7px #7c40ff5b;
    filter: blur(70px);
    border-radius: 0px 0px 0px 40px;
    z-index: 0;
    /* transform: translate(50%, 50%); */
    
  }
  .memberShip::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 20%;
    width: 70%;
    height: 95vh;
    background: radial-gradient(circle, #7D40FF, transparent 70%);
    box-shadow: 0px 0px 500.7px #7c40ff5b;
    filter: blur(20px);
    border-radius: 50%;
    z-index: 0;
    transform: translate(0%, 0%);

   
    
  }
@media (min-width: 768px){
    .planboxShadow:hover{
    box-shadow: 0px 0px 15.7px #b9b9b9;
    transition: .5s ease-in-out;
   
}
}
