@tailwind base;
@tailwind components;
@tailwind utilities;


body{

  box-sizing: border-box;
  width: 100%;
}
h1 {
  font-family: grifter;
}

input {
  font-size: 19px;
  padding: 8px 16px;
  border: none;
  font-weight: 600;
  font-family: sf ui display;
  width: 45%;
  margin: 1rem;
  border-bottom: 2px solid #7700ff;
  outline: none ;

}
form button{
    outline: none;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
}
.purpleBg{
  background: #7700ff;
}
.footerHead{
color: rgb(219, 219, 219);
font-weight: 500;
}
.footerLink{
  display: block ;
  color: #908f8f;
}
.bottomBorder{
  border-bottom: 1px solid #a4a4a4;
}
@media screen and (max-width: 976px) {
  .footerHead {
    font-size: 12px;
  }
  .footerLink {
    font-size: 9px;
  }
}
.hover:hover{
color: #7700ff;
}
.active-label {
  color: #7700ff;
}
.tab-content {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #7700ff;
  border-radius: 50px;
  transform-origin: 0%;
}



.brandslide{
  animation : slide 20s infinite linear;
}
.brandimg{
  margin-left: 86px;
}
.brandslide:hover {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0%);
    
  }
  to {
    transform: translateX(-100%);
 

  }

}

@media (max-width: 767px) {
  .overflow-x-scroll {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; 
  }

  .overflow-x-scroll::-webkit-scrollbar {
    display: none;
  }

  .overflow-x-scroll > .flex {
    flex-wrap: nowrap;
  }
}
